.btn{
    color: whitesmoke;
    background-color: #4CAF50;
    border: 2px solid #4CAF50;
    border-radius:5px;
    margin: 20px;
    font-size: 15px;
    padding: 10px;
}

.header{
    background-color: rgb(221, 178, 98);
}
.table {
    width: 97%;
    border-collapse: collapse;
    margin: 10px;
  }
  
  .table th, .table td {
    border: 1px solid #928585;
    padding: 8px;
    font-size: 18px;
  }
  
  .table th {
    background-color: #f2f2f2;
    text-align: left;
    font-size: 20px;
  }
  
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .table button {
    background-color: #4CAF50; 
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .table button:hover {
    background-color: #45a049;
  }
  